.header {
    position: relative;
    width: 100vw;
    background-color: #B4B4B4;
    display: flex;
    justify-content:right;
    color: #222222;
    font-size: 18px;
}

.logoutheader {
  margin-right: 100px;
  margin-bottom: 10px;
}

.float {
  padding-right: 100px;
  padding-top: 13px;
}

.some-font{
  font-family: "Grape Nuts", cursive;
}