#main_text{
  margin-top:0;
  font-size: 3.5rem;
  font-family: cursive;
}

#createGame {
   border: solid black 1px;
    padding: 15px 20px;
    text-align: center;
    display: inline;
    border-radius: 16px;
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 20px;
    color: black;
    margin-left: 0px;
    z-index: 10;
    background-color: whitesmoke;
    width: 200px
}

#createGame:hover {
  opacity: 50%;
}

#joinGame {
   border: solid black 1px;
    padding: 15px 20px;
    text-align: center;
    display: inline;
    border-radius: 16px;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 20px;
    color: black;
    margin-left: 0px;
    z-index: 10;
    background-color: whitesmoke;
    width: 200px
}

#joinGame:hover {
  opacity: 50%;
}

a {
  text-decoration: none;
  color: black;
}

#create_doodle {
  margin-top: 0px;
  position: relative;
  cursor: pointer;
  height: 50px;
}

#create_doodle button {
  padding: 8px 16px;
  border: none;
  background: none;
  outline: none;
}

#create_doodle svg {
  position: absolute;
  top: 15px;
  left: 40px;
  width: 155px;
  height: 50px;
  pointer-events: none;
}

#create_doodle path {
  stroke: #db3157;
  stroke-width: 8px;
  stroke-dasharray: 0 1500;
}

#create_doodle:hover path {
  animation: draw 1s forwards;
}

#join_doodle {
  margin-top: 80px;
  position: relative;
  cursor: pointer;
  height: 50px;
}

#join_doodle button {
  padding: 8px 16px;
  border: none;
  background: none;
  outline: none;
}

#join_doodle svg {
  position: absolute;
  top: 15px;
  left: 40px;
  width: 155px;
  height: 50px;
  pointer-events: none;
}

#join_doodle path {
  stroke: #db3157;
  stroke-width: 8px;
  stroke-dasharray: 0 1500;
}

#join_doodle:hover path {
  animation: draw 1s forwards;
}

@keyframes draw {
  from {
    stroke-dasharray: 0 1500;
  }

  to {
    stroke-dasharray: 1500 1500;
  }
}
