.authbutton {
    border: solid black 1px;
    padding: 15px 20px;
    text-align: center;
    display: inline;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: auto;
    margin-bottom: 10px;
    color: black;
    margin-left: 10px;
}


.goBack {
    text-align: center;
    display: inline;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: black; 
    bottom: 0px;
}
