.authbutton {
    border: solid black 1px;
    padding: 15px 20px;
    text-align: center;
    display: inline;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: auto;
    margin-bottom: 0px;
    margin-top: -50px;
    color: black;
    margin-left: 0px;
    z-index: 10;
    background-color: whitesmoke;
}


.goBack {
    text-align: center;
    display: inline;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: black; 
    bottom: 0px;
}
