#submit_btn_reg {
  color: black;
  font-size: 24px;
  position: absolute;
  margin-top: -25px;
  margin-left: -15px;
}

#submit_btn_reg:hover {
  color: red;
  font-weight: bold;
}

#reg_form {
  position: fixed;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 26px auto 0;
  width: 260px;
  padding: 50px;
  display: block;
  top: 28%;
  height: 320px;
}

/* .reg-username {
  margin-bottom: -10px;
}

.reg-email {
  margin-bottom: -10px;
}

.reg-password {
  margin-bottom: -10px;
} */

#reg_btn_doodle {
  margin-top: 80px;
  margin-left: 180px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 50px;
}

#reg_btn_doodle button {
  padding: 8px 16px;
  border: none;
  background: none;
  outline: none;
}

#email {
  border: none;
  background-color: transparent;
  outline: none;
  margin-top: 10px;
  margin-left: 15px;
  font-family: "Grape Nuts", cursive;
  font-size: 20px;
}
#passwordConfirmation {
  border: none;
  background-color: transparent;
  outline: none;
  margin-top: 10px;
  margin-left: 15px;
  font-family: "Grape Nuts", cursive;
  font-size: 20px;
}

#reg_btn_doodle svg {
  position: absolute;
  top: -35px;
  left: -30px;
  width: 100px;
  height: 50px;
  pointer-events: none;
}

#reg_btn_doodle path {
  stroke: #db3157;
  stroke-width: 8px;
  stroke-dasharray: 0 1500;
}

#reg_btn_doodle:hover path {
  animation: draw 1s forwards;
}

@keyframes draw {
  from {
    stroke-dasharray: 0 1500;
  }

  to {
    stroke-dasharray: 1500 1500;
  }
}
