@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");

#login_form {
  position: fixed;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 26px auto 0;
  width: 260px;
  padding: 50px;
  display: block;
  left: 50%;
  top: 28%;
  height: 300px;
}

#back_paper:before,
#back_paper:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#back_paper:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
#back_paper:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  right: -3px;
  top: 1px;
  transform: rotate(2.1deg);
}

label {
  font-family: "Just Another Hand", cursive;
  font-size: 24px;
  background: linear-gradient(0deg, rgb(227, 239, 93), rgb(227, 239, 93))
    no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
}
label:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

input {
  border: none;
  background-color: transparent;
  outline: none;
  margin-top: 15px;
  margin-left: 20px;
  font-family: "Grape Nuts", cursive;
  font-size: 18px;
}

h1 {
  font-size: 20px;
  font-family: "Inknut Antiqua", serif;
}
#submit_btn {
  font-size: 24px;
}

#submit_btn:hover {
  color: red;
  font-weight: bold;
}

#btn_doodle {
  margin-top: 80px;
  margin-left: 180px;

  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 50px;
}

#btn_doodle button {
  padding: 8px 16px;
  border: none;
  background: none;
  outline: none;
}

#btn_doodle svg {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100px;
  height: 50px;
  pointer-events: none;
}

#btn_doodle path {
  stroke: #db3157;
  stroke-width: 8px;
  stroke-dasharray: 0 1500;
}

#btn_doodle:hover path {
  animation: draw 1s forwards;
}

@keyframes draw {
  from {
    stroke-dasharray: 0 1500;
  }

  to {
    stroke-dasharray: 1500 1500;
  }
}
#clipboard_back {
  background-color: rgb(149, 80, 39);
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  width: 345px;
  position: fixed;
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
  margin: 26px auto 0;
  padding: 50px;
  left: 47%;
  top: 25%;
  height: 370px;
}
#clipboard_left {
  /* background-color: rgb(149, 80, 39); */
  background-image: linear-gradient(rgb(133, 71, 35), rgb(107, 61, 33));
  width: 15px;
  position: fixed;
  margin: 26px auto 0;
  left: 709px;
  top: 25%;
  height: 470px;
}
#clip {
  height: 70px;
  width: 190px;
  position: absolute;
  top: -4%;
  left: 30%;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  z-index: 99;
  background: rgb(118, 119, 121);
  background: -moz-linear-gradient(
    top,
    rgba(118, 119, 121, 1) 0%,
    rgba(153, 154, 158, 1) 8%,
    rgba(233, 233, 225, 1) 31%,
    rgb(153, 154, 157) 61%,
    rgba(145, 153, 156, 1) 76%,
    rgba(87, 94, 88, 1) 92%,
    rgba(145, 153, 156, 1) 95%,
    rgba(175, 176, 180, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(118, 119, 121, 1)),
    color-stop(8%, rgba(153, 154, 158, 1)),
    color-stop(31%, rgba(233, 233, 225, 1)),
    color-stop(61%, rgb(145, 146, 149)),
    color-stop(76%, rgba(145, 153, 156, 1)),
    color-stop(92%, rgba(87, 94, 88, 1)),
    color-stop(95%, rgba(145, 153, 156, 1)),
    color-stop(100%, rgba(175, 176, 180, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(118, 119, 121, 1) 0%,
    rgb(125, 126, 130) 8%,
    rgba(233, 233, 225, 1) 31%,
    rgb(91, 91, 93) 61%,
    rgb(103, 109, 111) 76%,
    rgba(87, 94, 88, 1) 92%,
    rgb(63, 64, 65) 95%,
    rgb(143, 143, 145) 100%
  );
}

#clip:before {
  content: "";
  position: absolute;
  height: 30px;
  width: 50%;
  top: -40%;
  left: 27%;
  z-index: 50;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  background-color: rgba(118, 119, 121, 1);
  background: -webkit-linear-gradient(
    top,
    rgba(118, 119, 121, 1) 0%,
    rgb(125, 126, 130) 8%,
    rgba(233, 233, 225, 1) 31%,
    rgb(91, 91, 93) 61%,
    rgb(103, 109, 111) 76%,
    rgba(87, 94, 88, 1) 92%,
    rgb(63, 64, 65) 95%,
    rgb(143, 143, 145) 100%
  );
}

#clip:after {
  content: "";
  height: 20%;
  width: 10%;
  border-radius: 50%;
  border: 1px solid rgba(65, 65, 67, 0.8);
  top: -40%;
  left: 45%;
  z-index: 75;
  background-color: white;
  position: absolute;
  top: -20px;
}
