.wrapper {
  background: url(chess-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
}

.homebutton {
  position: fixed;
  left: -10px;
  top: -30px;
}

.homesignup {
  position: fixed;
  transform: scale(0.75);
  top: 60px;
  left: 1050px;
}

.HomeTitle {
  color: whitesmoke;
  z-index: 10;
  position: fixed;
  top: 70px;
  left: 40px;
  font-size: 80px;
  font-family: sans-serif;
}

#homeDiv {
  height: 100vh;
  width: 100vw;
  /* background-color: black; */
}
#black_l {
  height: 500px;
  width: 845px;
  background-color: black;
  position: absolute;
}
#black_dgnl {
  height: 858px;
  width: 300px;
  left: 260px;
  top: -47px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  transform: rotate(-93deg);
  z-index: 10;
}

#white_l {
  height: 300px;
  width: 845px;
  bottom: 0px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  /* transform: skewy(-15deg);
  transform: skewx(-25deg);
  transform: rotate(-12deg); */
}

#white_dgnl {
  height: 600px;
  width: 300px;
  bottom: -280px;
  left: 866px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transform: rotate(-60deg);
}

#white_r {
  height: 345px;
  width: 862px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 845px;
}

#whiteR_dgnl {
  height: 190px;
  width: 862px;
  left: 0px;
  top: 280px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
  z-index: 10;
}

#table {
  top: 50%;
  left: 300px;
  height: 300px;
  z-index: 10;
  position: absolute;
  width: 500px;
  transform: scale(1.25);
}
#table_top {
  background-color: #a55c1b;
  background-image: linear-gradient(
    315deg,
    #8e4f18 0%,
    #a55c1b 50%,
    #7a4618 74%
  );
  top: 30px;
  left: 35px;
  height: 60px;
  width: 440px;
  position: absolute;
  transform: skewX(60deg) skewY(-5deg);
  /* background: url(http://thenewcode.com/assets/images/woodgrain.jpg); */
  z-index: 10;
}
#table_top_front {
  background-color: rgb(88, 49, 21);
  background-image: linear-gradient(
    315deg,
    rgb(68, 39, 18) 0%,
    rgb(91, 53, 27) 74%,
    rgb(59, 33, 15) 100%
  );
  top: 80px;
  left: 110px;
  height: 30px;
  width: 367px;
  position: absolute;
  transform: skewY(-6deg);
}

#table_top_side {
  background-color: rgb(88, 49, 21);
  background-image: linear-gradient(
    315deg,
    rgb(91, 53, 27) 0%,
    rgb(68, 39, 18) 74%,
    rgb(59, 33, 15) 100%
  );

  top: 80px;
  left: 30px;
  height: 25px;
  width: 80px;
  position: absolute;
  transform: skewY(30deg);
}

#l_back_leg_a {
  background-color: rgb(119, 69, 33);
  background-image: linear-gradient(
    315deg,
    rgb(119, 69, 33) 0%,
    rgb(119, 69, 33) 50%,
    rgb(49, 27, 11) 100%
  );
  top: 55px;
  left: 20px;
  height: 110px;
  width: 10px;
  position: absolute;
  transform: skewY(35deg);
}

#l_back_leg_b {
  background-color: rgb(119, 69, 33);
  background-image: linear-gradient(
    315deg,
    rgb(77, 45, 23) 0%,
    rgb(70, 41, 19) 50%,
    rgb(39, 21, 9) 100%
  );
  top: 55px;
  left: 29px;
  height: 110px;
  width: 10px;
  position: absolute;
  z-index: -1;
  transform: skewY(-30deg);
}

#l_front_leg_a {
  background-color: rgb(119, 69, 33);
  background-image: linear-gradient(
    315deg,
    rgb(119, 69, 33) 0%,
    rgb(119, 69, 33) 50%,
    rgb(49, 27, 11) 100%
  );
  top: 90px;
  left: 100px;
  height: 120px;
  width: 10px;
  position: absolute;
  transform: skewY(35deg);
}

#l_front_leg_b {
  background-color: rgb(119, 69, 33);
  background-image: linear-gradient(
    315deg,
    rgb(77, 45, 23) 0%,
    rgb(70, 41, 19) 50%,
    rgb(39, 21, 9) 100%
  );
  top: 90px;
  left: 110px;
  height: 120px;
  width: 10px;
  position: absolute;
  z-index: -1;
  transform: skewY(-30deg);
}

#r_front_leg_a {
  background-color: rgb(119, 69, 33);
  background-image: linear-gradient(
    315deg,
    rgb(68, 39, 18) 0%,
    rgb(97, 57, 26) 50%,
    rgb(39, 21, 9) 100%
  );
  top: 71px;
  left: 480px;
  height: 120px;
  width: 12px;
  position: absolute;
  transform: skewY(-10deg);
}

#r_front_leg_b {
  background-color: rgb(119, 69, 33);
  background-image: linear-gradient(
    315deg,
    rgb(61, 36, 19) 0%,
    rgb(53, 31, 15) 50%,
    rgb(68, 39, 18) 100%
  );
  top: 70px;
  left: 476px;
  height: 120px;
  width: 5px;
  position: absolute;
  z-index: -1;
  transform: skewY(-135deg);
}
#r_back_leg_a {
  background-color: rgb(119, 69, 33);
  background-image: linear-gradient(
    315deg,
    rgb(84, 50, 27) 0%,
    rgb(74, 44, 22) 50%,
    rgb(32, 16, 6) 100%
  );
  top: 62px;
  left: 400px;
  height: 80px;
  width: 5px;
  position: absolute;
  z-index: -1;
  transform: skewY(-135deg);
}

#r_back_leg_b {
  background-color: rgb(119, 69, 33);
  background-image: linear-gradient(
    315deg,
    rgb(63, 38, 20) 0%,
    rgb(60, 35, 18) 50%,
    rgb(22, 11, 4) 100%
  );
  top: 63px;
  left: 405px;
  height: 80px;
  width: 10px;
  position: absolute;
  z-index: -1;
  transform: skewY(-10deg);
}

#home_clip_board {
  background-color: rgb(197, 130, 92);
  /* background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png"); */
  width: 65px;
  border-radius: 5px;
  position: fixed;
  left: 900px;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.3);
  margin: 26px auto 0;
  top: 25%;
  height: 90px;
  border-left: solid 5px;
  border-left-color: rgb(103, 56, 29);
  transform: skewY(-6deg);
}
#home_clip_board_paper {
  background-color: rgb(221, 221, 221);
  /* background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png"); */
  width: 55px;
  /* border-radius: 5px; */
  position: fixed;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.3);
  margin: 26px auto 0;
  height: 78px;
  bottom: 7px;
  left: 4px;
  color: black;
  box-shadow: 1px 2px 5px #444;
  animation: anim 1s infinite ease-in-out alternate;
  border-top-left-radius: 250px 15px;
  border-bottom-left-radius: 20px 115px;
  border-bottom-right-radius: 105px 15px;
  background: linear-gradient(97deg, #c8c8c8 50%, #bdbdbd 45%);

  z-index: 10;
}

#home_clip_board_paper::after {
  filter: invert(1);
  opacity: 0.5;
  top: 1px;
}

@keyframes anim {
  100% {
    transform: translateZ(0) translateY(3px);
  }
}

#home_clip_board:hover {
  opacity: 50%;
}

#home-clip {
  height: 15px;
  width: 25px;
  position: absolute;
  top: -4%;
  left: 30%;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  z-index: 99;
  background: rgb(118, 119, 121);
  background: -moz-linear-gradient(
    top,
    rgba(118, 119, 121, 1) 0%,
    rgba(153, 154, 158, 1) 8%,
    rgba(233, 233, 225, 1) 31%,
    rgb(153, 154, 157) 61%,
    rgba(145, 153, 156, 1) 76%,
    rgba(87, 94, 88, 1) 92%,
    rgba(145, 153, 156, 1) 95%,
    rgba(175, 176, 180, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(118, 119, 121, 1)),
    color-stop(8%, rgba(153, 154, 158, 1)),
    color-stop(31%, rgba(233, 233, 225, 1)),
    color-stop(61%, rgb(145, 146, 149)),
    color-stop(76%, rgba(145, 153, 156, 1)),
    color-stop(92%, rgba(87, 94, 88, 1)),
    color-stop(95%, rgba(145, 153, 156, 1)),
    color-stop(100%, rgba(175, 176, 180, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(118, 119, 121, 1) 0%,
    rgb(125, 126, 130) 8%,
    rgba(233, 233, 225, 1) 31%,
    rgb(91, 91, 93) 61%,
    rgb(103, 109, 111) 76%,
    rgba(87, 94, 88, 1) 92%,
    rgb(63, 64, 65) 95%,
    rgb(143, 143, 145) 100%
  );
}

#home-clip:before {
  content: "";
  position: absolute;
  height: 7px;
  width: 50%;
  top: -34%;
  left: 27%;
  z-index: 50;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  background-color: rgba(118, 119, 121, 1);
  background: -webkit-linear-gradient(
    top,
    rgba(118, 119, 121, 1) 0%,
    rgb(125, 126, 130) 8%,
    rgba(233, 233, 225, 1) 31%,
    rgb(91, 91, 93) 61%,
    rgb(103, 109, 111) 76%,
    rgba(87, 94, 88, 1) 92%,
    rgb(63, 64, 65) 95%,
    rgb(143, 143, 145) 100%
  );
}
