#homeDiv {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
#black_l {
  height: 500px;
  width: 845px;
  background-color: black;
  position: absolute;
}
#black_dgnl {
  height: 858px;
  width: 300px;
  left: 260px;
  top: -47px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  transform: rotate(-93deg);
  z-index: 10;
}

#white_l {
  height: 300px;
  width: 845px;
  bottom: 0px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  /* transform: skewy(-15deg);
  transform: skewx(-25deg);
  transform: rotate(-12deg); */
}

#white_dgnl {
  height: 600px;
  width: 300px;
  bottom: -280px;
  left: 866px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transform: rotate(-60deg);
}

#white_r {
  height: 345px;
  width: 862px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 845px;
}

#whiteR_dgnl {
  height: 190px;
  width: 862px;
  left: 0px;
  top: 243px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-10deg);
  z-index: 10;
}

#table {
  top: 50%;
  left: 300px;
  height: 300px;
  z-index: 10;
  position: absolute;
  width: 500px;
}
#table_top {
  background-color: #a55c1b;
  background-image: linear-gradient(
    315deg,
    #8e4f18 0%,
    #a55c1b 50%,
    #7a4618 74%
  );
  top: 30px;
  left: 30px;
  height: 50px;
  width: 440px;
  position: absolute;
  transform: skewX(60deg) skewY(-5deg);
  /* background: url(http://thenewcode.com/assets/images/woodgrain.jpg); */
  z-index: 10;
}
#table_top_front {
  background-color: rgb(88, 49, 21);
  background-image: linear-gradient(
    315deg,
    rgb(68, 39, 18) 0%,
    rgb(91, 53, 27) 74%,
    rgb(59, 33, 15) 100%
  );
  top: 75px;
  left: 110px;
  height: 20px;
  width: 360px;
  position: absolute;
  transform: skewY(-6deg);
}

#table_top_side {
  background-color: rgb(88, 49, 21);
  background-image: linear-gradient(
    315deg,
    rgb(91, 53, 27) 0%,
    rgb(68, 39, 18) 74%,
    rgb(59, 33, 15) 100%
  );

  top: 75px;
  left: 30px;
  height: 15px;
  width: 80px;
  position: absolute;
  transform: skewY(30deg);
}

#l_back_leg_a {
  background-color: rgb(119, 69, 33);
  background-image: linear-gradient(
    315deg,
    rgb(119, 69, 33) 0%,
    rgb(119, 69, 33) 50%,
    rgb(49, 27, 11) 100%
  );
  top: 60px;
  left: 30px;
  height: 100px;
  width: 10px;
  position: absolute;
  transform: skewY(-5deg);
}
