#chessboard_border {
  height: 500px;
  width: 500px;
  background-color: rgb(124, 67, 33);
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  border-radius: 10px;
  border-bottom: solid 10px rgb(100, 54, 28);
  border-left: solid 10px rgb(93, 51, 27);
}


.backpieceplay {
  position: absolute;
  bottom: 100px;
  left: 200px;
  font-size: 35px;
  font-weight: bold;
}

.backpieceplay:hover {
  opacity: 50%;
}

.gamebackground {

  width: 100vw;
  height: 100vh;
  z-index: -10;
  background-color: #816353;
  display: flex;
  align-items: center;
  transform: scale(1.2);
}

