#chessboard_border {
  height: 500px;
  width: 500px;
  background-color: rgb(124, 67, 33);
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  border-radius: 10px;
}
