#top_book {
  background-color: red;
  width: 85px;
  height: 28px;
  margin-left: 642px;
  border-radius: 3px;
  position: fixed;
  margin-top: -380px;
  z-index: 20;
  transform: skewX(60deg) skewY(-5deg);
}

#side_book {
  background-color: rgb(223, 8, 8);
  width: 52px;
  height: 12px;
  margin-left: 625px;
  position: fixed;
  margin-top: -362px;
  z-index: 15;
  transform: skewY(30deg);
}

#pages {
  background-color: rgb(215, 215, 215);
  width: 63px;
  height: 15px;
  margin-left: 675px;
  position: fixed;
  margin-top: -354px;
  z-index: 12;
  transform: skewY(-6deg);
}
