/* .textScroller {
  position: fixed;
  bottom: 20px;
  color: red;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 20px;
} */

.marquee {
  height: 25px;
  width: 200vw;
  position: fixed;
  bottom: 60px;
  overflow: hidden;
  font-weight: bold;
  font-style: italic;
  font-size: 23px;
  background-color: #f0e110;
  padding-top: 7px;
  padding-bottom: 7px;
  border: solid 3px black;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;
  opacity: 50%;
  position: absolute;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.marquee span {
  float:right;
  width: 100%;
  color: rgb(202, 0, 0);
}



@keyframes marquee {
  0% {
    left: -25%;
  }
  100% {
    left: -140%;
  }
}


.Live {
  color: red;
  display: inline;
}
