@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

.gameSettings {
  font-family: "Special Elite", cursive;
  font-size: 26px;
  font-weight: 100;
  margin-left: -200px;
  margin-top: 70px;
  margin-bottom: -35px;
}

